.homeScreen__top {
  background-color: #303030;
  padding: 31px;
  text-align: center;
  margin-bottom: 20px;
}

.homeScreen__top > h4 {
  color: #b6e2ef;
  max-width: 650px;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  /* font-weight: 600; */
}
@media (max-width: 768px) {
  .homeScreen__top > h4 {
    max-width: 430px;
  }
}
@media (max-width: 425px) {
  .homeScreen__top > h4 {
    font-size: medium;
  }
}

.homeScreen__bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 175px;
  align-items: center;
  justify-content: center;
  background-color: #303030;
}

.homeScreen__bottomLeft {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.homeScreen__bottomLeft > p {
  color: #b6e2ef;
  font-weight: 600;
  line-height: 1.7;
  font-size: 19px;
  /* max-width: 450px; */
}

.homeScreen__button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  line-height: 1.2;
  padding: 8px 17px;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  font-size: 17px;
  color: #b6e2ef;
  background-color: #3c1a0e;
}

.homeScreen__bottomLeft > button:hover {
  background-color: rgba(30, 57, 50, 0.1);
}

.homeScreen__bottomRight > img {
  object-fit: contain;
  max-width: 650px;
}

@media (max-width: 1024px) {
  .homeScreen__bottomRight > img {
    max-width: 470px;
  }
  .homeScreen__bottomLeft > p {
    max-width: 380px;
  }
}

@media (max-width: 768px) {
  .homeScreen__bottomRight > img {
    max-width: 380px;
  }
  .homeScreen__bottomLeft {
    max-width: 300px;
  }
  .homeScreen__bottom {
    padding-left: 20px;
    padding-right: 0;
  }
}

@media (max-width: 425px) {
  .homeScreen__bottom {
    flex-direction: column;
    padding-right: 20px;
  }
  .homeScreen__bottomLeft {
    order: 2;
    max-width: 360px;
  }
}

@media (max-width: 375px) {
  .homeScreen__bottomRight > img {
    max-width: 340px;
  }
  .homeScreen__bottom {
    align-items: flex-start;
  }
}

.homeScreen__features {
  display: flex;
  /* gap: 25px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* padding: 31px; */
}

@media (max-width: 768px) {
  .homeScreen__features {
    flex-direction: column;
  }
}
