@import '#scss/_variables.scss';
@import '#scss/_mixins';
@import '#scss/_mediaQueryMixins';
@import '#scss/_flex';

.password-sent {
  .locked-img {
    margin: 0px auto;
    width: 200px;
    display: block;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .description {
    text-align: center;
    line-height: 30px;
    padding-bottom: 30px;
  }
}
