@import '#scss/_variables.scss';
@import '#scss/_mixins';
@import '#scss/_mediaQueryMixins';
@import '#scss/_flex';

.forgot-password {
  .logo-img {
    margin: auto;
    display: block;
    width: 148px;
  }
  .logo-merchant {
    padding-top: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: $defaulFontSize + 2;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.4em;
    color: $brown;
  }
}
