// Component imports
@import './components/index';

// Page imports
@import './pages/index';

//Layout import
@import './layouts/index';

// Global CSS
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
